The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.

* Use Pandas to read in the measurement and station CSV files as DataFrames.

* Inspect the data for NaNs and missing values. You must decide what to do with this data.

* Save your cleaned CSV files with the prefix `clean_`.

In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
hawaii_measurements = pd.read_csv("hawaii_measurements.csv")
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
hawaii_stations = pd.read_csv('hawaii_stations.csv')
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
print(hawaii_measurements.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB
None

In [6]:
print(hawaii_stations.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
station      9 non-null object
name         9 non-null object
latitude     9 non-null float64
longitude    9 non-null float64
elevation    9 non-null float64
dtypes: float64(3), object(2)
memory usage: 440.0+ bytes
None

In [7]:
x = hawaii_measurements['prcp']
x1 = np.nan_to_num(x)
x1

array([0.08, 0.  , 0.  , ..., 0.56, 0.5 , 0.45])

In [8]:
hawaii_measurements['precipitation'] = x1
hawaii_measurements.head()

       station        date  prcp  tobs  precipitation
0  USC00519397  2010-01-01  0.08    65           0.08
1  USC00519397  2010-01-02  0.00    63           0.00
2  USC00519397  2010-01-03  0.00    74           0.00
3  USC00519397  2010-01-04  0.00    76           0.00
4  USC00519397  2010-01-06   NaN    73           0.00

In [9]:
clean_hawaii_measurements = hawaii_measurements[['station','date','tobs','precipitation']]
clean_hawaii_measurements.head()

       station        date  tobs  precipitation
0  USC00519397  2010-01-01    65           0.08
1  USC00519397  2010-01-02    63           0.00
2  USC00519397  2010-01-03    74           0.00
3  USC00519397  2010-01-04    76           0.00
4  USC00519397  2010-01-06    73           0.00

In [10]:
print(hawaii_stations.name)

0                      WAIKIKI 717.2, HI US
1                      KANEOHE 838.1, HI US
2    KUALOA RANCH HEADQUARTERS 886.9, HI US
3                         PEARL CITY, HI US
4                UPPER WAHIAWA 874.3, HI US
5        WAIMANALO EXPERIMENTAL FARM, HI US
6                       WAIHEE 837.5, HI US
7         HONOLULU OBSERVATORY 702.2, HI US
8              MANOA LYON ARBO 785.2, HI US
Name: name, dtype: object

In [11]:
hawaii_stations.name[0] = 'Waikiki'
hawaii_stations.name[1] = 'Kaneohe'
hawaii_stations.name[2] = 'Kualoa Ranch HeadQuarters'
hawaii_stations.name[3] = 'Pearl City'
hawaii_stations.name[4] = 'Upper Wahiawa'
hawaii_stations.name[5] = 'Waimanalo Experimental Farm'
hawaii_stations.name[6] = 'Waihee'
hawaii_stations.name[7] = 'Honolulu Observatory'
hawaii_stations.name[8] = 'Manoa Lyon Arbo'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
clean_hawaii_stations = hawaii_stations[['station','name','latitude','longitude','elevation']]
clean_hawaii_stations.head()

       station                       name  latitude  longitude  elevation
0  USC00519397                    Waikiki   21.2716  -157.8168        3.0
1  USC00513117                    Kaneohe   21.4234  -157.8015       14.6
2  USC00514830  Kualoa Ranch HeadQuarters   21.5213  -157.8374        7.0
3  USC00517948                 Pearl City   21.3934  -157.9751       11.9
4  USC00518838              Upper Wahiawa   21.4992  -158.0111      306.6

In [13]:
clean_hawaii_stations.to_csv('clean_hawaii_stations.csv', encoding = 'utf-8', index=False)
clean_hawaii_measurements.to_csv('clean_hawaii_measurements.csv', encoding = 'utf-8',index=False)